{% extends 'base.html' %}
{% load calc_discount %}


{% block title %}
E-Learning
{% endblock title %}

{% block content %}


{% comment %} carousel start {% endcomment %}

<div class='container-fluid' style="height:350px; width:100%;">
  <div class='row my-3' style="height:300px;">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner" style="height:300px;">
        <div class="carousel-item active" data-bs-interval="2000">
          <img src="/static/images/image2.jpg" alt="..." style="height:300px;width:100%">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/static/images/image-4.png" alt="..." style="height:300px;width:100%">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="/static/images/image-7.png" alt="..."   style="height:300px;width:100%;">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
      {% comment %} <img src="/static/images/image2.jpg" style="height:300px"   /> {% endcomment %}
  </div>
</div>

  {% comment %} carousel end {% endcomment %}






<div class="container my-3" >
    <div class="row text-center">
        {% for crs_dtls in course_dtls %}
        <div class="col-3 mx-4 text-center my-3">
            <div class="card" style="width: 15rem;">
                <img src="{{crs_dtls.course_image.url}}" class="card-img-top" alt="{{crs_dtls.course_image.url}}" height=140>
                <div class="card-body">
                  <h3 class="card-title">{{crs_dtls.course_name}}</h3>
                  <p class="card-text">{{crs_dtls.desc}}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">{{crs_dtls.duration}}</li>
                  <li class="list-group-item">Course Price:-<strike><strong>Rs.{{crs_dtls.price}}</strong></strike></li>
                  <li class="list-group-item">You Pay:-Rs.{% price_after_discount crs_dtls.price crs_dtls.discount %}</li>
                  <li class="list-group-item">Discount:-{{crs_dtls.discount}}%</li>
                </ul>
                <div class="card-body text-center">
                  {% is_enroll request crs_dtls as enrolled %}
                  {% if enrolled %}
                  <a href="course/{{crs_dtls.slug}}" {% if not request.session.name %}data-bs-toggle="modal" data-bs-target="#login"
                  {% endif %} 
                  class="card-link btn btn-primary">Enrolled</a>

                  {% else %}
                  <a href="checkout/{{crs_dtls.slug}}" {% if not request.session.name %}data-bs-toggle="modal" data-bs-target="#login"
                  {% endif %} 
                  class="card-link btn btn-primary">Enroll</a>
                  {% comment %} <a href="#" data-bs-toggle="modal" data-bs-target="#login" class="card-link btn btn-primary">Enroll</a> {% endcomment %}
                  <a href="course/{{crs_dtls.slug}}/" class="card-link btn btn-primary">More</a>

                  {% comment %} {% for j in Course_details %} {% endcomment %}
            
                
                  {% comment %} <a href="" download class="card-link btn btn-primary mt-3 download-btn">Download</a> {% endcomment %}
                  {% comment %} {% endfor %} {% endcomment %}
                  {% comment %} <a href="/media/resources/course/{{course.slug}}" class="card-link btn btn-primary mt-3" download>Download</a> {% endcomment %}
                  {% endif %}
                </div>
              </div>
        </div>
        
        {% endfor %}
    </div>
</div>




{% endblock content %}
